
</div>
<div class="footer-padding"></div>
  <div class="footer">
  <p>  MADE by : &nbsp Aditya Prasad Mishra
<br>
    <a href="https://github.com/adimishrax7x"><i class="fab fa-github fa-2x"></i> </a>
    <a href="https://www.linkedin.com/in/aditya-prasad-mishra-9555571a5/"> <i class="fab fa-linkedin fa-2x"></i></a></p>
  </div>
</div>
</body>
</html>
